## idea
.idea
**/.idea
**/**/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


## hlot_be_service
/hlot_be_service/**/src/main/resources/application.properties

/hlot_be_service/ManagementService/build/
/hlot_be_service/ManagementService/logs/
/hlot_be_service/ManagementService/gradle/
/hlot_be_service/ManagementService/.gradle/



## hlot_fe
/hlot_fe/node_modules/
