
/* font 관련 */
@font-face {
    font-family: 'basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'basic', serif !important;
}


/* App.vue 전체 CSS */
.main-container_mt {
    margin-top: 75px;
    height: 92vh;
}

/* Header 영역 */
.header-container_mt {
    background-color: black !important;
}

.header-nav_mt {

}

.header-nav_mt .header-btn_mt {
    margin-left: 20px;
    color: white;
}

.header-nav_mt .header-btn_mt:hover {
    border-bottom: 3px solid #2e5fff;
    font-size: 15px;
}


/* 목록에 사용되는 CSS */
.table-container_mt .table-title_mt {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.table-container_mt .table-list_mt thead {
    background-color: #000000;
    color: white;
    font-size: 17px;
}

.table-container_mt .table-list_mt thead th:hover {
    color: white !important;
}

.table-container_mt .table-list_mt tbody tr:hover {
    cursor: pointer;
    background-color: #7c7c7c;
    color: white;
}

.table-container_mt .table-btn-list {
    text-align: right;
}
.table-container_mt .table-btn-list button {
    margin: 10px;
}

