.custom-table_mt {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
.custom-table_mt th,
.custom-table_mt td {
    padding: 6px 15px;
    max-width: 400px;
}

.custom-table_mt tbody tr:hover {
    cursor: pointer;
    background-color: #7c7c7c;
    color: white;
}

.custom-table_mt th {
    background: #42444e;
    color: #fff;
    text-align: center;
    font-weight: 100;
}
.custom-table_mt tr:first-child .custom-table_mt th:first-child {
    border-top-left-radius: 6px;
}
.custom-table_mt tr:first-child .custom-table_mt th:last-child {
    border-top-right-radius: 6px;
}
.custom-table_mt td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}
.custom-table_mt td:first-child {
    border-left: 1px solid #c6c9cc;
}
.custom-table_mt tr:nth-child(even) .custom-table_mt td {
    background: #eaeaed;
}
.custom-table_mt tr:last-child .custom-table_mt td:first-child {
    border-bottom-left-radius: 6px;
}
.custom-table_mt tr:last-child .custom-table_mt td:last-child {
    border-bottom-right-radius: 6px;
}

.custom-table_mt img{
    cursor: pointer;
}
