/* 모달창 관련 CSS */
.modal-title{
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
.modal-content{
    min-height: 500px;
}

.modal-content .v-col {
    margin: -15px 0;
}

body {
    margin: 0
}
div {
    box-sizing: border-box;
}
.modal-overlay {
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    padding: 20px;
    z-index: 1;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.modal {
    min-width: 70%;
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 3%;
    margin-left: 14%;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.close {
    cursor: pointer;
    display:inline-block;
    *display:inline;
}
.close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 20pt;
}

.modal-btn-list {
    text-align: right;
    margin-top: 15px;
    width: 100%;
    position: absolute;
    bottom: 3%;
    right: 20%;
}


.child-modal{
    /* width, height 는 각자 지정하는걸로 */
    /*width: 500px;
    height: 200px;*/
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 8px;
    padding: 20px;
    overflow: auto;
    box-shadow: 5px 5px 5px 5px black;
}

.child-modal-overlay {
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    padding: 20px;
    z-index: 2;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
